<ion-view view-title="Alterar Senha">
    <ion-content>
        <form name="form" ng-submit="doSubmit()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nova Senha</span>
                    <input type="password" ng-model="form.new_password" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirmar Nova Senha</span>
                    <input type="password" ng-model="form.confirm_new_password" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Senha Atual</span>
                    <input type="password" ng-model="form.current_password" required>
                </label>
            </div>
            <div class="padding">
                <button
                    ng-disabled="form.$pristine|| form.$invalid"
                    type="submit"
                    class="button button-assertive button-block">
                    Confirmar Alteração
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
