<ion-view view-title="Aulas">
    <ion-content class="padding custom-bg">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>    
        </div>
        
        <my-network-alert></my-network-alert>   

        <ion-list class="card">
<!--             <ion-item ng-repeat="aula in aulas | orderBy : 'name'" ng-click="openModal(aula)">
                {{aula.name}}
                <p>Duração: {{aula.duration}} Minutos</p>
                <p>Gasto calórico médio: {{aula.gasto_calorico}}Kcal</p>
            </ion-item> -->
            <ion-item
                ng-repeat="aula in aulas | orderBy : 'name'"
                ng-click="openModal(aula)">

                <item-list-aula content="aula"></item-list-aula>

            </ion-item>
        </ion-list>

        <p class="no-data-alert" ng-if="!aulas">
            Você não tem nenhuma aula no momento.
        </p>
    </ion-content>
</ion-view>
