<ion-view view-title="Minha Ficha">
    <ion-nav-buttons side="right">
        <button
            ng-if="ficha"
            class="button button-icon icon ion-ios-more" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <div
        ng-if="ficha"
        class="tabs tabs-top tabs-positive tabs-striped">
        <a
            ng-class="{'active' : currentTab == $index}"
            class="tab-item"
            ng-repeat="(key, exercise) in ficha.exercises"
            ng-click="changeTab($index)">
            {{exercisesColumns[key]}}
        </a>
    </div>
    <ion-content class="custom-bg padding" ng-class="{'has-tabs-top' : ficha}">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>    
        </div>

        <div ng-if="ficha">
            <div class="padding">
                <p class="text-center" ng-if="ficha.obs">
                    {{ficha.obs}}
                </p>
            </div>
        	<ion-list class="card">
                <ion-item ng-repeat="exercise in ficha.exercises[currentTab]">
                    {{exercise.name}}
                </ion-item>
            </ion-list>
        </div>
        <div ng-if="!ficha" class="text-center">
            Você não tem nenhuma ficha cadastrada.
            <br>
            <button
                ng-click="doRefreshByButton()"
                class="button button-primary">Verificar novamente</button>
        </div>
    </ion-content>
</ion-view>
