<ion-view view-title="Horários">
    <div class="tabs tabs-top tabs-striped tabs-positive">
        <a
            ng-class="{'active' : weekdayIndex == $index}"
            class="tab-item"
            ng-repeat="weekday in weekdays"
            ng-click="changeTab($index)">
            {{weekday | limitTo : 3}}
        </a>
    </div>
    <ion-content class="custom-bg has-tabs-top">
        
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <ion-list class="list-android">
            <span
                ng-repeat="(key, horario) in horarios[weekdayIndex] | groupBy: 'start_hour'"
                ng-if="horarios[weekdayIndex]">
                <ion-item class="item-divider">
                    {{key | date: 'HH:mm'}}
                </ion-item>
                <ion-item ng-repeat="aula in horario" ng-click="openModal(aula.service)">
                    <!-- {{aula.service.name}}
                    <p>Duração: {{aula.service.name}}</p> -->
                    <item-list-aula content="aula.service"></item-list-aula>
                </ion-item>
            </span>
        </ion-list>

        <div class="alert-no-data" ng-if="!horarios[weekdayIndex]">
            <span class="icon {{menuIcons.horarios}}"></span>
            <p>Nenhuma aula para hoje</p>
        </div>

    </ion-content>
</ion-view>