<ion-view view-title="Sugestões">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="send(sugestao)" ng-disabled="!sugestao.text">
            Enviar
        </button>
    </ion-nav-buttons>
    <ion-content>
        <my-network-alert></my-network-alert>
        <form>
            <div class="list">
                <label class="item item-input">
                    <textarea
                        placeholder="Sugestão..."
                        class="sugestao"
                        ng-model="sugestao.text"
                        required></textarea>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
