// APP
.custom-bg{
    background-color: $app-bg;
}

// SUMIR COM BORDA DA NAVBAR
.bar{
    background-image: none;
}

// INPUTS
input, textarea{
    font-size: $input-font-size!important;
}
textarea.sugestao{
    padding: 10px 5px;
    min-height: 200px;
    resize: none;
}
.button-theme{
      color: $navbar-color!important;
}
