<ion-modal-view>
	<ion-header-bar>	
		<h1 class="title">Detalhes da Ficha</h1>
		<button
			class="button button-clear button-positive"
			ng-click="closeModal()">
			Fechar
		</button>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			<ion-item>
				<h3>Instrutor</h3>
				<p>{{ficha.user.name}}</p>
			</ion-item>
			<ion-item>
				<h3>Objetivo</h3>
				<p>
					{{ficha.goal}}
				</p>
			</ion-item>
			<ion-item>
				<h3>Vencimento</h3>
				<p><span am-time-ago="ficha.end_date"></span></p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>